.container {
  display: flex;
  padding: 80px 16rem;
  gap: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  margin-top: 40px;
}

.heading {
  font-size: 36px;
  line-height: 43.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.92);
}

.text {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  color: white;
  margin-top: 30px;
}
