.hidden {
  opacity: 0;
  visibility: hidden;
}

  .Toastify__toast-container{
  z-index: 99999 !important;
}

.ant-tooltip{
  z-index: 99999 !important;
}
.ant-tooltip-inner {
  background-color: white !important;
  color: black !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px;
  overflow: auto;
  max-height: 150px;
  border-radius: 10px;
  scrollbar-width: thin;
}

.infinite-scroll-component__outerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infinite-scroll-component {
  overflow: hidden !important;
}

.ql-container {
  position: relative !important;
  min-height: 300px;
  max-height: 300px;
  border: none !important;
  overflow: auto;
}

.ql-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ql-image-label::before {
  content: "Enter URL:" !important;
  line-height: 26px;
  margin-right: 8px;
}

.quill {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
  border-radius: 6px;
}

.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.ql-tooltip {
  left: 50% !important;
  top: -50px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.hidden-componenet {
  opacity: 0;
  transition: opacity 0.5s;
}
.visible-component {
  opacity: 1;
}

.white {
  color: white;
}

.flexbox-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-none {
  border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.bg-white {
  background-color: rgba(255, 255, 255, 1);
}

.light-black {
  color: rgba(71, 68, 68, 1);
}
